body {
  background: rgb(36, 36, 43);
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: rgb(240, 240, 240);
}

.row {
  margin: 5px;
}

.row label {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
}

input {
  background: rgb(86, 86, 104);
  color: rgb(240, 240, 240);
  font-size: 18px;
}

.text {
  margin-top: 50px;
}